aiohttp
aiohttp-jinja2
Jinja2
pyee
aiortc
aiosignal
async-timeout
-e git+https://github.com/adipandas/multi-object-tracker.git@bfbc2b1a357ab1fa27a5eaef86430559e9ee58ca#egg=multi_object_tracker
ipyfilechooser
numpy
opencv-contrib-python
python-decouple
PyYAML
scipy
