<html>
	<head>
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/bootswatch/superhero/bootstrap.min.css" />
		<style>
            .text-with-tooltip {
                text-decoration: underline;
                text-decoration-style: dotted;
				cursor: default;
            }

			.logo-separator img + *::before {
				content: '';
				border-left: 2px solid #fff;
				margin-left: 8px;
				margin-right: 8px;
				height: 100%;
			}
		</style>
		<title>{% block title %}{{ APP_NAME }}{% endblock %}</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<div class="px-3 py-2 text-bg-dark">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<div class="container-fluid">
							<a href="/" class="navbar-brand logo-separator">
								<img src="static/phaidelta-logo.png" height="28" alt="{{ APP_NAME }}">
								<span>{{ APP_NAME }}</span>
							</a>
							<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarCollapse">
								<div class="navbar-nav">
									<a href="/" class="nav-item nav-link active">Dashboard</a>
									<a href="#" class="nav-item nav-link">Statistics</a>
									<a href="#" class="nav-item nav-link" tabindex="-1">Reports</a>
								</div>
								<div class="navbar-nav ms-auto">
									<!-- Login and stuff -->
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<div class="container-fluid">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>